<footer>
    <div class='footer__content'>
        <ul>
            <li><a class='btn' href="mailto:ben.codrington@queensu.ca"><i class='fa fa-envelope-square'></i></a></li>
            <!-- <li><a class='btn' href="#"><i class='fa fa-file-text'></i></a></li> -->
            <li><a class='btn btn--large' href="https://github.com/bencodrington"><i class='fa fa-github-square'></i></a></li>
            <li><a class='btn btn--large' href="https://www.linkedin.com/in/bencodrington/"><i class='fa fa-linkedin-square'></i></a></li>
            <li><a class='btn btn--large' href="https://www.instagram.com/bencodrington/"><i class='fa fa-instagram'></i></a></li>
        </ul>
    </div>
</footer>