<li class='project' data-project='{{ include.projectData.id }}''>
    <a href='/project/{{ include.projectData.id }}' class='project__img-container colour--{{ include.projectData.id }}'>
        <img src='{{ site.data.constants.PROJECT_IMG_DIRECTORY }}{{ include.projectData.logo }}'
            alt='{{ include.projectData.logoAltText }}' >
    </a>
    <div class='project__txt-container'>
        <h3>{{ include.projectData.title }}<span class='project__txt-container__subtitle'>[ {{ include.projectData.primaryLanguage }} ]</span></h3>
        {% include projectOptionsList.html projectData=include.projectData %}
    </div>
</li>