<div class='section__header'>
    <h2>
        {% if include.role.needsIconSpacing %}
        <img class="center-vertical right-margin"
            src="{{ include.role.imageSource }}"
            srcset="{{ include.role.imageSourceSet }}"
            alt="{{ include.role.altText }}">
        {% else %}
        <img src="{{ include.role.imageSource }}"
            srcset="{{ include.role.imageSourceSet }}"
            alt="{{ include.role.altText }}">
        {% endif %}
        {{ include.role.title }}
    </h2>
</div>