<div class='section__header'>
    {% assign sourceSet = "" %}
    {% for source in include.role.imageSourceSet %}
    {% assign relativeSourceUrl = source.url | relative_url %}
    {% assign sourceSet = sourceSet | append: relativeSourceUrl | append: " " | append: source.width | append: ", " %}
    {% endfor %}
    {% if include.role.needsIconSpacing %}
    <img class="right-margin"
        src="{{ include.role.imageSource | relative_url }}"
        srcset="{{ sourceSet }}"
        alt="{{ include.role.altText }}">
    {% else %}
    <img src="{{ include.role.imageSource | relative_url }}"
        srcset="{{ sourceSet }}"
        alt="{{ include.role.altText }}">
    {% endif %}
    <h2>
        {{ include.role.title }}
    </h2>
</div>