.btn {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.70rem;
    text-align: center;
    color: $peach;

    &::before {
        z-index: -1;
        content: '';
        background: $peach;
        border-radius: 5px;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        transform: scale(0);
        pointer-events: none;
        max-width: none; /* Leftover from 'underline' <a> elements */
        transition: transform 0.1s;

        @include atSmall {
            width: 4rem;
            height: 4rem;
        }
    }

    @include atSmall {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }

    & btn__inner, i {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        &::before {
            transform: scale(1);
            animation: bubble 0.4s;
        }
    }

    &--large {
        font-size: 2rem;

        @include atSmall {
            font-size: 2.5rem;
        }
    }

    &--rectangle {
        width: auto;
        height: auto;
        padding: 0.5rem;

        &::before {
            width: auto;
            height: auto;
        }

        i {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
        }
    }
}