.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $midGrey;
    z-index: 2;
    overflow-y: auto;
    font-size: 1.25rem;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

    &--closed {
        opacity: 0;
        transform: scale(1.2);
        visibility: hidden;
    }

    &__top-row {
        display: flex;
        align-items: flex-start;

        h3 {
            font-size: 2rem;
            font-weight: normal;
            line-height: 1.25;
            flex: 1;
        }

        .btn--close {
            margin: 0 .25rem;
        }
    }
    
    &__header {
        background: $darkGrey;
        padding: 1rem;

        &__disclaimer{
            margin: 1rem 0 0;
            font-size: 1rem;
            color: rgba($lightGrey, 0.75);
        }

        @include atSmall {

            &__disclaimer {
                width: calc(100% - 260px - 1rem);
                float: right;
            }

            &__left {
                float: left;
            }
        
            &__right {
                width: calc(100% - 260px - 1rem);
                float: right;
            }

        }
    }

    &__body {
        padding: 2rem .5rem 10rem;
    }

    &__img {
        width: 99%;
        margin: 1rem .25%;
    }
    
    &__img--half {
        display: inline-block;
    }

    &__img--small {
        max-width: 500px;
    }

    @include atSmall {
        &__img--half {
            width: 49%;
        }
    }

    
}