<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/075d51e5f2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,400,900" rel="stylesheet">
    <link rel="icon" href="/assets/img/BClogo.ico">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    {{ content }}
</body>

</html>