$lightTurquoise: #009688;

$peach: #e57373;

$lightGrey: #e0e0e0;
$midGrey: #323232;
$darkGrey: #212121;

$lightBlue: #1e88e5;

$lightPurple: #7e57c2;

$projectPhanary: #2e5266;
$projectWyrmling: #12132a;
$projectScribbleHead: #2f484e;
$projectSixSixSixFlags: #000;
$projectWamsit: #246EC1;
$projectSleeperAgent: #10483e;
$projectGSDS: #771820;